.thumbnailCreator{
    margin: 30px;
}

.textBox p {
    float: left;
}

.textBox input {
    margin-top: 18px;
    margin-left: 25px;
    border-radius: 5px;
    border: 1px solid black;
    height: 20px;
    width: 200px;
}

.imageBox p {
    clear: left;
    float: left;
}

.imageBox input {
    margin-top: 32px;
    margin-left: 10px;
    height: 40px;
    /*border-radius: 5px;
    border: 1px solid black;
    background-color: darkgrey;
    color: white;
    width: 120px;
    height: 80px;*/
}